#introModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}

#introModal.fade-out {
    opacity: 0;
}

#introModal video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.grafikon-container {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.grafikon-container {
    position: relative;
    width: 100%;
    height: 300px;
}