#profil {
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px #63ffbe;
}

#profilod {
    color: #63ffbe;
    font-weight: bold;
}