#szemelyes {

    background-color: #121212;
    color: white;
    cursor: url(../../kepek/cursor.ico), default !important;
    font-family: Arial, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #63ffbe #1e1e1e;
    width: 66.6%;
}



#profilbox{
    background: #2b2b2b;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#szemelyesadat{
    color: #63ffbe;
    font-weight: bold;
}



#Weboldali {
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px #63ffbe;
}

#profilod{
    color: #63ffbe;
    font-weight: bold;
}

#valaszto{
    background-color: #1e1e1e;
    border: 1px solid #63ffbe;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%2363ffbe' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

#valaszto:focus{
    background-color: #1e1e1e;
    border: 1px solid #63ffbe;
    color: white;
    outline: none;
    animation: pulseBorder 1s infinite;
   }

   @keyframes pulseBorder {
    0% {
        border-color: #63ffbe;
        box-shadow: 0 0 5px rgba(99, 255, 190, 0.5);
    }
    50% {
        border-color: #63ffbe;
        box-shadow: 0 0 15px rgba(99, 255, 190, 1);
    }
    100% {
        border-color: #63ffbe;
        box-shadow: 0 0 5px rgba(99, 255, 190, 0.5);
    }
}