.calendar {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 15px #63ffbe;
    overflow: hidden;
    width: 500px;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-left: 250px;
    }
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    }
    .btn {
    cursor: pointer;
    }
    #month-year {
    font-weight: bold;
    font-size: 20px;
    }
    .weekdays, .days {
    display: flex;
    flex-wrap: wrap;
    }
    .days {
    height: 210px;
    }
    .weekdays div, .days div {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    }
    .days div {
    cursor: pointer;
    transition: background-color 0.3s;
    }
    .days div:hover {
    background-color: rgba(255, 255, 255, 0.452);
    color: #60faba;
    }
    .days .today {
    background-color: #48b889;
    color: white;
    }
    .days  .fade {
    color: #555;
    }

#bevitel{
        background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 15px #63ffbe;
    overflow: hidden;
    width: 300px;
    height: 372px;
    padding: 20px;
    font-size: medium;
    margin-left: 800px;
    margin-top: -370px;
    }

    .tranzakcio-tabla {
        width: 70%;
        margin-left: 150px;
        background-color: #1e1e1e;
        color: #ffffff;
        box-shadow: 0 0 10px #63ffbe;
        border-radius: 10px;
        overflow: hidden;
    
    }
    
    .tranzakcio-tabla th,
    .tranzakcio-tabla td {
        color: #ffffff;
        border-bottom: 1px solid #63ffbe;
    }
    
    .tranzakcio-tabla tbody tr:last-child td {
        border-bottom: none;
    }
    
    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: transparent;
        color: white;
    }
    
    .tranzakcio-tabla thead th {
        border-bottom: 2px solid #63ffbe;
        
    }
    
    
    #PBevitel{
    
        background-color: #1e1e1e;
        border: 1px solid #63ffbe;
        color: white;
        border-radius: 5px;
        transition: all 0.3s ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    #PBevitel:focus{
        background-color: #1e1e1e;
            border: 1px solid #63ffbe;
            color: white;
            outline: none;
            animation: pulseBorder 1s infinite;  
        }

    #ind:focus{
        background-color: #1e1e1e;
            border: 1px solid #63ffbe;
            color: white;
            outline: none;
            animation: pulseBorder 1s infinite;
        
    }

    #dateInput:focus{
        background-color: #1e1e1e;
        border: 1px solid #63ffbe;
        color: white;
        outline: none;
        animation: pulseBorder 1s infinite;
    }
    
    #ind{
        background-color: #1e1e1e;
        border: 1px solid #63ffbe;
        color: white;
        border-radius: 5px;
        transition: all 0.3s ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    #kuld{
        cursor: url(../kepek/cursor.ico), default;
        background-color: #63ffbe;
        border-color: #63ffbe;
        box-shadow: 0 0 5px #63ffbe;
        color: #1e1e1e;
        border: none;
        padding: 6px 10px;
        border-radius: 5px;
        cursor: url(../kepek/cursor.ico), default;
        font-size: 14px;
        margin-top: 18%;
        margin-left: 80%;
    
    }

    #kuld:focus{
        background-color: #1e1e1e;
    border: 1px solid #63ffbe;
    color: white;
    outline: none;
    animation: pulseBorder 1s infinite;

    }
    
    #dateInput{
        background-color: #1e1e1e;
        border: 1px solid #63ffbe;
        color: white;
        border-radius: 5px;
        transition: all 0.3s ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    table{
        margin-top: 100px;
    }

    .fade:not(.show) {
        opacity: 100;
    }

    #valaszto{
        background-color: #1e1e1e;
        border: 1px solid #63ffbe;
        color: white;
        border-radius: 5px;
        transition: all 0.3s ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%2363ffbe' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
    }

   #valaszto:focus{
    background-color: #1e1e1e;
    border: 1px solid #63ffbe;
    color: white;
    outline: none;
    animation: pulseBorder 1s infinite;
   }

   @keyframes pulseBorder {
    0% {
        border-color: #63ffbe;
        box-shadow: 0 0 5px rgba(99, 255, 190, 0.5);
    }
    50% {
        border-color: #63ffbe;
        box-shadow: 0 0 15px rgba(99, 255, 190, 1);
    }
    100% {
        border-color: #63ffbe;
        box-shadow: 0 0 5px rgba(99, 255, 190, 0.5);
    }
}