.kartya {
    background-color: #2e2e2e;
    border: 2px solid #63ffbe;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.kartya h3 {
    color: #ff073a;
    text-align: center;
    margin-bottom: 20px;
}

.kartya label {
    color: white;
    font-size: 1.1rem;
    margin-bottom: 5px;
    display: block;
}

.kartya select, .kartya textarea {
    width: 100%;
    padding: 10px;
    background-color: #1e1e1e;
    border: 1px solid #63ffbe;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    margin-bottom: 15px;
}

.kartya select:focus, .kartya textarea:focus {
    border-color: #4acda3;
    outline: none;
}

.kartya button {
    width: 100%;
    padding: 10px;
    background-color: #63ffbe;
    color: #1e1e1e;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.kartya button:hover {
    background-color: #4acda3;
}

#responseMessage {
    display: none;
    text-align: center;
    background-color: #63ffbe;
    color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 1rem;
}

#supportInfo {
    color: #63ffbe;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 15px;
}