/* Kamatszámító űrlap minimális stílusa */
.kamat-container {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px #63ffbe;
}

.kamat-container h4 {
    color: #63ffbe;
    font-size: 1.2rem;
}

.kamat-container label {
    color: white;
    font-size: 1rem;
}

.kamat-container .form-control {
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #63ffbe;
    border-radius: 5px;
}

.kamat-container .btn-primary {
    background-color: #1e1e1e;
    border: 1px solid #63ffbe;
    color: white;
}

.kamat-container .btn-primary:hover {
    background-color: #4acda3;
    border-color: #4acda3;
    color: #1e1e1e;
}

#kamatEredmeny {
    color: #63ffbe;
}

/* Egyedi hover stílus a bal oldali kalkulátor gombhoz */
.kamat-button:hover {
    background-color: #4acda3 !important;
    border-color: #4acda3 !important;
    color: #1e1e1e !important;
}